*.bnd
*.hgt
viewfinderHgtIndex_3.txt
pbf/*SPLITTED*
pbf/*SRTM*
pbf/*
poly/*
sea/*.pbf
bounds/version.txt
img/*VasaM/*
img/*.zip
img/*.img
img/*.info
sea/index.txt.gz
sea/version.txt
Cruiser/*
map/*.map
MapEdit/*


FTPaddress
FTPpassword
FTPusername


*TEST*
*.lnk
make.cmd
upload.cmd
licence.tmp
settings.ftp
*.uploading
__pycache__/*
osmium.txt
Mapsforge/*
*.pyc
python/grab_geofabrik/*
python/geofabrik.py
makeMap.log