hgt/hgtIndex_3_v3.0.txt
*.tif
*.bnd
*.hgt
pbf/*SPLITTED*
pbf/*SRTM*
pbf/*
poly/*
sea/*.pbf
bounds/version.txt
pbf/CZ.osm.pbf
img/*VasaM/*
img/*.zip
img/*.img
img/*.info
sea/index.txt.gz
sea/version.txt
Cruiser/*
map/*.map
MapEdit/*
WWW/*
password
username


*TEST*
*.lnk