bounds/*
hgt/*
MapEdit/*
sea/*
pbf/*
maps/*
polygons/*

_pic/*
_pbf(smazat)/*
_osmosis(smazat)/*
_mapsplit(smazat)/*
_osmconvert(smazat)/*
_old(smazat)/*
temp/*
test.py

*__pycache__*

mkgmap-r4432/*
splitter-r595/*
userAreas/*

*.secret
*.lnk
gmapmaker.config
make.cmd
upload.cmd